/*------------Header--------------*/
.header{
	background-image:url('Images/header.png');
	width:100%;
	top:0;
	left:0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

.logo{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
 	width: 20%;
}

.logotext{
	color:black;
	text-align:center;
	 font-style: italic;
	
}

/*------------Navigation bar--------------*/
.navi{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
	background-color:#333;
	opacity:0.9;
	font-family:Geneva;
	overflow: auto;
	overflow: hidden;
}

.navi li{
    display:inline;
}
.navi a{
    display:inline-block;
    padding:5px;
	padding: 12px;
	color: white;
	text-decoration: none;
	font-size: 17px;
	width: 30%;
	text-align: center;
}

.navi a:hover {
  background-color: #ddd;
  color: black;
}

/*------------body--------------*/

body{
	width:100%;
	top:0;
	left:0;
	background-image:url('Images/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

.title{
	 text-align:center;
	 background-color:#333;
}

